
.header_2 .top_nav{
    height: 20px;
}

.logo_header_row {
    height: 100px !important;
}

.top_wrapper{
    position: relative;
    padding-top: 131px
}

.bp_dark_blue {
    color: #3f4e7d;
}

.bp_deep_red {
    color: #9a3c2f;
}

@font-face {
  font-family: ProximaNova;
  src: url('/fonts/ProximaNovaRegular.otf');
}

/**********************************************************************************
**** Social Media Header Icons
***********************************************************************************/

.header_social_media_icons li {
    background-image: url('/content/img/social-icons-small-team.png');
}

.header_social_media_icons li.twitter { background-position: -134px -28px; }
.header_social_media_icons li.twitter:hover { background-position: -134px -4px; }

.header_social_media_icons li.linkedin { background-position: -33px -28px; }
.header_social_media_icons li.linkedin:hover { background-position: -33px -4px; }

.header_social_media_icons li.facebook { background-position: -161px -28px; }
.header_social_media_icons li.facebook:hover { background-position: -161px -4px; }

.header_social_media_icons li.youtube { background-position: -467px -28px; }
.header_social_media_icons li.youtube:hover { background-position: -467px -4px; }



/**********************************************************************************
**** Home Page
***********************************************************************************/

.index_main_quote {
  font-weight: 500;
  color: #3f4e7d;
  margin-top: 3px;
  float: left;
  width: 100%;
}

.index_main_quote_highlight {
  color: #9a3c2f;
  font-size: inherit;
}

.support_row {
  background-image:url('content/images/all/07/parallex2.png');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-attachment: fixed;
}


/**********************************************************************************
**** Home Page Slider
***********************************************************************************/

.index_slider_layer {
  slidedelay: 4000;
  duration: 1500;
  durationout: 1500;
  easingin: easeInOutQunit;
  easingout: easeInOutQuint;
  delayin: 0;
}

.slide1 h2, .slide2 h2 {
  font-size: 4em;
}

.slide2 h1 {
  font-size: 6em;
  font-weight: bold;
}


/**********************************************************************************
**** Artisanal Site Page
***********************************************************************************/

.price_box ul li {
  text-align: left;
  padding-left: 30px;
}


/**********************************************************************************
**** Our Values Page
***********************************************************************************/

.ourvalues .value_title {
  width: 40px;
  height: 40px;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.ourvalues .value_title span {
  height:40px;
  float:left;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.ourvalues i {
  text-align: center;
  width: 100%;
  line-height: 40px;
  float: left;
}

.ourvalues .value_title span.circle i {
  color: white;
  width:40px;
  font-size: 16px;
}

.ourvalues .value_title h4 {
  padding-top: 5px;
  width: 250px;
  color: #3f4e7d;
}

.ourvalues .value_title span.circle{
  background: #3f4e7d;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.ourvalues .with_icon {
  margin-left: 55px;
}

.ourvalues .value_wrapper {
  margin-top: 0px;
  margin-bottom: 0px;
}

.ourvalues p {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}

.value_circle_highlight {
  background: #9a3c2f !important;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.value_title_highlight {
  color: #9a3c2f !important;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.value_title_highlight a:link {
  color: #9a3c2f !important;
}

.value_detail h1 {
  color: #3f4e7d;
}

.ourvalues a.read_m{color:#999;  float:left; padding-top: 10px; }

.ourvalues a.read_m span{float:left; color:#444;}

.ourvalues a.read_m .direct_btn{margin-left:1px; margin-top:2px; background:none; border:none}

.ourvalues a.read_m:hover .direct_btn{background:none; border:none}

.ourvalues a.read_m .direct_btn i{color:#444; font-size:9px}

.ourvalues a.read_m:hover .direct_btn i{}


/**********************************************************************************
**** Our Team Page
***********************************************************************************/

.one-staff {
  float: left;
  width: 85%;
  display:inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.team_image_border {
  border: solid #9a3c2f 3px;
}