{% extends "base.twig" %}

{% block main_content %}
  {% include 'index_slider.twig' %}

  <!-- .header -->
  <section id="content" class="page-dynamic_template-home sequentialchildren  ">
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid row-dynamic-el " style="">
          <div class="container">
            <div class="row-fluid">
              <div class="span12 plain_text alignment_center">
                <h1 class="index_main_quote">Everything we do comes down to one thing.
                  <span class="index_main_quote_highlight">We help builders.</span></h1>
                <p class="content" style="color:#969ba2;"></p></div>
            </div>
          </div>
        </div>
        <div class="row-fluid row-dynamic-el " style="">
          <div class="container">
            <div class="row-fluid">
              <div class="divider__"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="row-fluid row-dynamic-el section-style"
       style="background-image:url(content/images/all/07/parallex2.png);  background-repeat: no-repeat;background-position: 50% 0%;background-attachment: fixed; ">
    <div class="container">
      <div class="row-fluid">
        <div class="row-fluid row-dynamic-el">
          <div class="container">
            <div class="row-fluid">
              {% include 'index_support.twig' with {
                'iconClass': 'moon-quotes-left',
                'supportTitle': 'Product Questions',
                'supportLink': 'mailto:sales@builderprofessional.com',
                'description': 'Have questions about the product or interested in placing an order? Our experts at sales@builderprofessional.com would love to help you!'
              } %}

              {% include 'index_support.twig' with {
                'iconClass': 'moon-eyedropper',
                'supportTitle': 'Need Support',
                'supportLink': 'mailto:support@builderprofessional.com',
                'description': 'We want to make sure our products propel your business to the next level. For any type of help, contact our support team at support@builderprofessional.com'
              } %}

              {% include 'index_support.twig' with {
                'iconClass': 'moon-star',
                'supportTitle': 'Need Anything at All',
                'supportLink': 'mailto:support@builderprofessional.com',
                'description': "We're here every day to help you and your business. If you need anything, please don't hesitate to call us <br /> <strong>916-WE-BUILD</strong>"
              } %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}