<div class="span4 services_creative">
  <span class="icon_wrapper">
    <i class="{{ iconClass }} icon"></i>
  </span>
  <h4><a href="{{ supportLink }}">{{ supportTitle }}</a></h4>

  <p>{{ description|raw }}</p>
</div>