<nav>
  <ul id="menu-menu" class="menu">
    {% include "main_menu_item.twig" with {'href': 'index.php', 'label': 'Home'} %}
    {% include "main_menu_item.twig" with {
      'href': 'artisanal.php',
      'label': 'Artisanal Websites',
      'submenu': [
        {'href': 'artisanal.php', 'label': 'Overview'},
        {'href': 'artisanal_portfolio.php', 'label': 'Our Portfolio'},
      ]
    } %}
    {#{% include "main_menu_item.twig" with {'href': 'software.php', 'label': 'Estimating / Accounting Software'} %}#}

    {% include "main_menu_item.twig" with {
      'href': 'training.php',
      'label': 'Training',
      'submenu': [
        {'href': 'training.php', 'label': 'Overview'},
        {'href': 'training_schedule.php', 'label': 'Schedule and Signup'}
      ]
    } %}

    {% include "main_menu_item.twig" with {
      'href': 'contact.php',
      'label': 'Our Company',
      'submenu': [
        {'href': 'ourteam.php', 'label': 'Our Team'},
        {'href': 'ourstory.php', 'label': 'Our Story'},
        {'href': 'ourvalues.php', 'label': 'Our Values'},
        {'href': 'contact.php', 'label': 'Contact Us'}
      ]
    } %}
  </ul>
</nav>
