<nav>
  <ul id="menu-menu" class="menu">
    {% include "main_menu_item.twig" with {'href': 'index.php', 'label': 'Home'} %}
    {% include "main_menu_item.twig" with {'href': 'artisanal.php', 'label': 'Artisanal Site'} %}
    {% include "main_menu_item.twig" with {'href': 'software.php', 'label': 'Estimating / Accounting Software'} %}
    {% include "main_menu_item.twig" with {'href': 'training.php', 'label': 'Training'} %}
    {% include "main_menu_item.twig" with {'href': 'contact.php', 'label': 'Contact Us'} %}
  </ul>
</nav>