{% extends "base.twig" %}

{% block main_content %}
  {% include 'content_page_header.twig' with {
  'pageTitle': 'Our Values',
  'breadcrumbs': [
  {'href': 'index.php', 'label': 'Home'},
  {'href': 'contact.php', 'label': 'Our Company'},
  {'href': 'ourvalues.php', 'label': 'Our Values'}
  ]
  } %}


  <section id="content" class="page-dynamic_template-about2 sequentialchildren  section_last">
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid row-dynamic-el">
          <div class="container">
            <div class="row-fluid">

              <div class="span4 ourvalues">

                {% set peopleDescription %}
                <p class="content">
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                </p>
                {% endset %}

                {% include 'value.twig' with {
                  'shortTitle': 'People Are More Important',
                  'longTitle': 'People Are More Important Than Things',
                  'description': peopleDescription
                } %}

                {% set sharingDescription %}
                <p class="content">
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                </p>
                {% endset %}

                {% include 'value.twig' with {
                  'shortTitle': 'Sharing Information',
                  'longTitle': 'Sharing Information Increases Effectiveness and Builds Confidence',
                  'description': sharingDescription
                } %}

                {% set processDescription %}
                <p class="content">
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                </p>
                {% endset %}

                {% include 'value.twig' with {
                  'shortTitle': 'Replicable Process',
                  'longTitle': 'Building a Replicable Process Is More Important Than Any Individual Project',
                  'description': processDescription
                } %}

                {% set userExperienceDescription %}
                <p class="content">
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                At Builder Professional, we value our relationships, our customers, our employees,
                and our reputation. Our principles guide who we are and how we work with other people.
                </p>
                {% endset %}

                {% include 'value.twig' with {
                  'shortTitle': 'User Experience',
                  'longTitle': "The Measure of a Quality Product Is in the User's Experience",
                  'description': userExperienceDescription
                } %}

              </div>

              <div class="span8 value_detail" style="padding-left: 15px;">
                <h1>People Are More Important Than Things</h1>
                <div class="value_detail_description">
                  {{ peopleDescription|raw }}
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}