{% extends "base.twig" %}

{% block main_content %}
  {% include 'content_page_header.twig' with {
  'pageTitle': 'Our Values',
  'breadcrumbs': [
  {'href': 'index.php', 'label': 'Home'},
  {'href': 'contact.php', 'label': 'Our Company'},
  {'href': 'ourvalues.php', 'label': 'Our Values'}
  ]
  } %}


  <section id="content" class="page-dynamic_template-about2 sequentialchildren  section_last">
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid row-dynamic-el">
          <div class="container">
            <div class="row-fluid">

              <div class="span4 ourvalues">

                {% set peopleDescription %}
                  We can't stress this one enough. We commit to always being above board, never taking a
                  short cut. We demand this from our employees, it is simply who we are
                  at Builder Professional. In every meeting, yes we talk about how we turn a profit, handle the
                  day-to-day, and grow for the future, but that always takes a back seat to how we add value for your
                  business, how we give our employees room to improve themselves and grow, and how we make sure
                  that no customer would ever want to leave Builder Professional.
                  <br /><br />
                  We believe that if you build your business on relationships first and money second, that you
                  come out much further ahead in the long run. We value our relationship with each and every one
                  of you, and it's you that will carry Builder Professional into the future.
                {% endset %}

                {% include 'value.twig' with {
                  'shortTitle': 'People Are More Important',
                  'longTitle': 'People Are More Important Than Things',
                  'iconClass': 'moon-user',
                  'description': peopleDescription
                } %}

                {% set sharingDescription %}
                  A lot of people believe that less is more when giving information away. They believe that knowing
                  something other people don't gives you an advantage. We disagree with that philosophy. Internally,
                  we keep every employee as informed as possible. That way, they will know about your situation, and
                  know the best available solutions to help correct your problem. They'll know where they stand as
                  employees, so they can feel confident in their own position and spend their time and energy working
                  to improve our customers' businesses.
                  <br /><br />
                  In relation to our customers, it just means that if you want to know, we'll tell you. Do you want to
                  know why products cost a certain amount? Just ask, and we'll tell you. If the person you are dealing
                  with doesn't know, they'll get you in touch with someone who does. If you want to know why we made
                  certain decisions when designing your site, again, just ask! We're here to help you. A lot of times
                  that means educating you on what you don't know so you can be more effective in your business. We're
                  dedicated to making that an every day part of who we are.
                {% endset %}

                {% include 'value.twig' with {
                  'shortTitle': 'Sharing Information',
                  'longTitle': 'Sharing Information Increases Effectiveness and Builds Confidence',
                  'iconClass': 'moon-share',
                  'description': sharingDescription
                } %}

                {% set processDescription %}
                  I know this one will seem strange to some people, but this is one of the keys to our success
                  and yours. We want to add maximum value for your business, and the only way we are going to be
                  able to do that, is if we can deliver quickly with excellent accuracy and quality. This requires
                  a good, solid engineering process to get right, and we are committing to taking the steps necessary
                  to engineer your solutions and bake them into the everyday culture of Builder Professional.
                  <br /><br />
                  When dealing with us, you can absolutely expect fast, consistent service delivered at the highest
                  standard of quality.
                {% endset %}

                {% include 'value.twig' with {
                  'shortTitle': 'Replicable Process',
                  'longTitle': 'Building a Replicable Process Is More Important Than Any Individual Project',
                  'iconClass': 'moon-copy',
                  'description': processDescription
                } %}

                {% set userExperienceDescription %}
                  Too many companies spend far too much time worrying about themselves. The only thing that matters
                  is whether or not our customers get the most out of their business. We want and need you to succeed.
                  This definitely includes helping you successfully reach and maintain your own customers.
                  <br /><br />
                  We at Builder Professional are dedicated to keeping the main thing the main thing, and that is your
                  success. It does absolutely no good to have a website if your potential customers can't see that
                  you are a great builder who wants to deliver them the home of their dreams. It does no good to have
                  estimating and accounting software if it can't get you the financial data and project accuracy that
                  you need. We exist to make your business better, and we commit to never lose sight of that.
                {% endset %}

                {% include 'value.twig' with {
                  'shortTitle': 'User Experience',
                  'longTitle': "The Measure of a Quality Product Is in the User's Experience",
                  'iconClass': 'moon-screen',
                  'description': userExperienceDescription
                } %}

              </div>

              <div class="span8 value_detail" style="padding-left: 15px;">
                <h1>People Are More Important Than Things</h1>
                <p class="content value_detail_description">
                  {{ peopleDescription|raw }}
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}