<dl class="dl-horizontal">
  <dt><span class="circle"><i class="moon-user icon"></i></span></dt>
  <dd class="with_icon">
    <h4 class="with_icon"><a href="#">{{ shortTitle }}</a></h4>
  </dd>
  <p class="content">{{ description|length > 130 ? description|slice(0, 130) ~ '...' : description }}</p>

  <a href="#" class="read_m" style="margin-top: -14px">
    <span>Read More</span>
    <span class="direct_btn"><i class="moon-arrow-right-2"></i></span>
  </a>

  <br style="clear: both" /><hr />
</dl>
<br />